<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Coffee_Store_Management_Software.Properties.Settings.Coffee_Shop_Management_SoftwareConnectionString"
            connectionString="Data Source=DESKTOP-6UQKPGH\SQLEXPRESS;Initial Catalog=Coffee_Shop_Management_Software;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>